{% extends "layout.html" %}
{% block content %}

            <div class="carousel-item active">
                <img class="w-100" src="../static/assets/img/bank2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="display-3 text-white mb-md-4">CheckUp</h1>
                        <h4 class="text-white text-uppercase mb-md-3">Application for verifying and autocorrect checks </h4>
                    </div>
                </div>
            </div>
       
<div class="container-fluid contact-info mt-5 mb-4">
    <div class="container" style="padding: 0 30px;">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex">
                    <i class="fa fa-2x fa-map-marker-alt text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Our Location</h5>
                        <p class="m-0 text-white">Ariana Soghra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-envelope text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Email Us</h5>
                        <p class="m-0 text-white">checkup@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-phone-alt text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Call Us</h5>
                        <p class="m-0 text-white">+216 20 165 560</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Info End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-0 pt-lg-4">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" style="border-radius: 50%;" src="../static/assets/img/Logo.png" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3" style="color: #288c6c !important;">Learn About Us</h6>
                <h3 class="mb-4"  style="color: white;" >
                    This project was created and developped by a data science team of esprit students as part of the second year Integrated Project</h1>
               
                <div class="row">
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0" style="color: #288c6c !important;" >Highly Professional Staff</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0"style="color: #288c6c !important;">100% Satisfaction Guaranteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container pt-0 pt-lg-4">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" style="border-radius: 50%;"  src="../static/assets/img/logo2.png" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3" style="color: #288c6c !important;">Learn About The Application</h6>
                <h3 class="mb-4" style="color: white">
                    A Desktop application created with python and multiple data science tools that aims to automate the autocorrection system of bank checks and help create a sophisticated and systematic approach to deal with bank checks in a bank using Artificial Intelligence
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3" style="color: #288c6c !important;">Our Services</h6>
        <h1 class="display-4 text-center mb-5" style="color: white;">What We Offer</h1>
        <div class="row text-center" style="margin-left:200px">
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 170px; border-radius: 50%;">
                    <h4 style="color: #288c6c !important;" class="font-weight-bold m-0">Scan check</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 170px; border-radius: 50%;">
                    
                    <h4 style="color: #288c6c !important;" class="font-weight-bold m-0">Verifying amount of the check</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-1" >
                <div  class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 170px; border-radius: 50%;">
                    
                    <h4 style="color: #288c6c !important;" class="font-weight-bold m-0">Autocorrection of the amount of the check</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->




<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>




{% endblock content %}